In [1]:
#Packages
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
#See the website text
url = 'http://www.owgr.com/en/Ranking.aspx?pageNo=1&pageSize=All&country=All'
    
#BeautifulSoup
text_results_html = requests.get(url)
text_results_soup = BeautifulSoup(text_results_html.text, 'lxml')

In [3]:
#See website text- this helps reference the table elements
#text_results_soup

In [4]:
#Website
golf_url = 'http://www.owgr.com/en/Ranking.aspx?pageNo=1&pageSize=300&country=All'

In [5]:
#Request to website
golf2 = requests.get(golf_url)

#BeautifulSoup object
soup = BeautifulSoup(golf2.content, 'lxml')

In [7]:
#Top Golfer Table
top_golfer_table = soup.find('table')

#List and Counter for Ranking
rankings = []
curr_rank = 1

#Iterate
for rows in top_golfer_table.find_all('tr')[1:]:
    # Player Dict for each Row
    player = {}
    
    #Creating rows for table
    player['Name'] = rows.find('td',{'class':'name'}).text
    player['Country'] = rows.find('td',{'class':'ctry'}).find('img')['title']
    player['Rank'] = curr_rank
    curr_rank += 1
    
    #Append 
    rankings.append(player)

In [8]:
#DF witih Rank as Index
golf_rankings = pd.DataFrame(rankings).set_index('Rank')

In [9]:
#Print DF
golf_rankings

                   Name Country
Rank
1              Jon Rahm     ESP
2       Collin Morikawa     USA
3        Dustin Johnson     USA
4       Patrick Cantlay     USA
5     Xander Schauffele     USA
...                 ...     ...
296        Nate Lashley     USA
297         Ryan Armour     USA
298        Russell Knox     SCO
299          J.J. Spaun     USA
300    Edoardo Molinari     ITA

[300 rows x 2 columns]

In [11]:
golf_rankings.groupby('Country').Country.count()

Country
ARG      1
AUS     10
AUT      4
BEL      2
CAN      7
CHI      3
COL      1
DEN      6
ENG     25
ESP     10
FIN      4
FRA      6
GER      7
IND      2
IRL      3
ITA      5
JPN     26
KOR     11
MEX      2
NED      2
NIR      1
NOR      1
NZL      3
PAR      1
POL      1
POR      1
RSA     22
SCO      6
SVK      1
SWE      7
THA      4
TPE      1
USA    111
VEN      1
WAL      1
ZIM      1
Name: Country, dtype: int64

In [12]:
# Export to CSV file
golf_rankings.to_csv('./world_golf_rankings_12_8_21.csv')